<section class="hero container container--wide" id="top">
  <div class="hero__wrap relative">
    <div class="hero__graphic absolute">
      <img src="/images/graphic.jpg" alt="">
    </div>
    <img class="hero__title difference" src="/images/svg/unhealth-obsession.svg" alt="Unhealthy Obsession.">
    <div class="hero__info">
      <div class="container container--standard">

        <div class="hero__content">

          <div class="relative hero__heading">
            <h1 class="hero__headline size-14">Rucking Fotten Collection</h1>
          </div>

          <div class="relative hero__number">
            <p class="hero__number-grid uppercase"><span class="number">{{ len .Site.RegularPages }}</span> <span class="weight-bold">shirts</span></p>
          </div>

        </div>

      </div>
    </div>
    <div class="hero__overlay"></div>
  </div>
</section>
