.hero {
  --hero-gradient-opacity: 0;
  overflow: hidden;

  @include screen-below($desktop) {
    --hero-gradient-opacity: 1;
  }

  &__wrap {
    --hero-padding: clamp(2.38rem, calc(-1.26rem + 6.61vw), 4.69rem);
    padding: var(--hero-padding) 0;
    margin-top: var(--hero-spacing-top);
  }

  &__graphic {
    top: calc(var(--hero-spacing-top) * -1);
    left: 50%;
    z-index: -2;
    width: clamp(45.00rem, calc(-2.14rem + 85.71vw), 75.00rem);
    height: clamp(28.50rem, calc(-1.36rem + 54.29vw), 47.50rem);
    transform: translateX(-50%);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::before {
      // 200px at 1440px to 150px at 880px
      --graphic-gradient: clamp(9.38rem, calc(4.46rem + 8.93vw), 12.50rem);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 300px;
      background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
      transition: opacity 300ms ease-in-out;
      opacity: var(--hero-gradient-opacity);
      content: "";
    }
  }

  &__info {
    margin-top: 42px;
    border-top: 6px solid var(--white);
    border-bottom: 6px solid var(--white);

    &::after,
    &::before {
      // 224px at 1440px to 112 at 880px
      --gradient-size: clamp(7.00rem, calc(-4.00rem + 20.00vw), 14.00rem);
      position: absolute;
      top: 0;
      width: var(--gradient-size);
      height: 100%;
      pointer-events: none;
      content: "";
    }

    &::after {
      left: 0;
      background: var(--gradient);
      transform: scale(-1);
    }

    &::before {
      right: 0;
      background: var(--gradient);
    }
  }

  &__headline {
    font-weight: var(--weight-normal);
  }

  &__heading,
  &__number {
    display: flex;
    align-items: center;
  }

  &__heading {
    order: 2;
    text-align: right;

    @include screen-above($tablet) {
      justify-self: end;
    }
  }

  &__number {
    order: 1;

    @include screen-below($tablet) {
      justify-content: center;
    }
  }

  &__number-grid {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0;
  }

  &__content {
    position: relative;
    z-index: 2;
    display: grid;

    @include screen-above($tablet) {
      grid-template-columns: repeat(2, 1fr);

      &::before {
        position: absolute;
        top: 0;
        left: 50%;
        width: 6px;
        height: 100%;
        background-color: var(--white);
        transform: translateX(-50%);
        content: "";
      }
    }

    @include screen-below($tablet) {
      justify-content: center;
    }
  }

  &__overlay {
    // 500px at 1440px to 250px at 880px
    --radius: clamp(18.75rem, calc(-13.17rem + 58.04vw), 39.06rem);
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    width: calc(100% - 40px);
    height: 100%;
    transform: translateY(-50%);
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: var(--white);
    border-radius: var(--radius) 0 0 var(--radius);
    pointer-events: none;

    @include screen-below($tablet) {
      --radius: 0;
      width: 100%;
      border-width: 6px 0;
    }

    &::after,
    &::before {
      // 538px at 1440px to 270px at 880px
      --overlay-gradient-width: clamp(20.25rem, calc(-13.98rem + 62.23vw), 42.03rem);
      position: absolute;
      right: 0;
      background: var(--gradient);
      width: var(--overlay-gradient-width);
      height: 6px;
      content: "";
    }

    &::after {
      top: -6px;
    }

    &::before {
      bottom: -6px;
    }
  }
}
