.visually-hide {
  position: absolute;
  top: 0;
  left: -9999px;
  clip: rec(0, 0, 0, 0);
  pointer-events: none;
}

.unstyled-list {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.center {
  text-align: center;
}

.overflow-hidden {
  overflow: hidden;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number {
  // 100px at 880px to 50px at 880px
  --number-font-size: clamp(3.125rem, 8.9vw - 1.8rem, 6.25rem);
  color: var(--gold);
  font-size: var(--number-font-size);
}

.difference {
  mix-blend-mode: difference;
}

.uppercase {
  text-transform: uppercase;
}

.page-spacing {
  padding: var(--hero-spacing-top) 0 0;
}

.weight-medium {
  font-weight: var(--weight-medium);
}

.weight-bold {
  font-weight: var(--weight-bold);
}

.size-14 {
  font-size: .875rem;
}

.graphic {
  top: calc(var(--hero-spacing-top) * -1);
  left: 50%;
  z-index: -2;
  width: clamp(45.00rem, calc(-2.14rem + 85.71vw), 75.00rem);
  height: clamp(28.50rem, calc(-1.36rem + 54.29vw), 47.50rem);
  transform: translateX(-50%);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::before {
    // 200px at 1440px to 150px at 880px
    --graphic-gradient: clamp(9.38rem, calc(4.46rem + 8.93vw), 12.50rem);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    transition: opacity 300ms ease-in-out;
    opacity: var(--hero-gradient-opacity);
    content: "";
  }
}
