:root {
  --black: #14141b;
  --white: #f8f8f2;
  --container: 1440px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  &:focus {
    outline: 2px dotted var(--black);
  }
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  position: relative;
  margin: 0;
  font-size: 16px;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

dd {
  margin: 0;
}
