:root {
  --black: #000;
  --white: #fff;
  --border: rgba(255, 255, 255, .2);
  --gold: #fea55d;

  --gradient: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 100%);

  --container: 1340px;
  --container-wide: 1800px;

  // 40px at 1800px to 20px at 375px
  --outer-spacing: clamp(1.25rem, calc(0.81rem + 1.88vw), 2.50rem);

  // 224px at 1440px to 112px at 880px
  --hero-spacing-top: clamp(7.00rem, calc(-4.00rem + 20.00vw), 14.00rem);

  @include screen-below($desktop) {
    --container: 1000px;
  }

  @include screen-below($laptop) {
    --container: 880px;
  }

  @include screen-below($laptop-sm) {
    --container: 660px;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  &:focus {
    outline: 2px dotted var(--white);
  }
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: var(--white);
  background-color: var(--black);
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  transition: color 300ms ease-in-out;
  text-decoration: none;

  @include hover {
    color: var(--gold);
  }
}
