h1,
h3,
dt {
  text-transform: uppercase;
}

h3 {
  // 30px at 1440px to 22px at 375px
  --h3-sizes: clamp(1.38rem, calc(1.20rem + 0.75vw), 1.88rem);
  margin: 0;
  font-size: var(--h3-sizes);
}

dd {
  margin: 0;
}

dt {
  margin-bottom: 10px;
}

dt,
dd {
  font-size: .875rem;
}
