h1,
h3,
dt {
  text-transform: uppercase;
}

h3 {
  // 30px at 1440px to 22px at 880px
  --h3-sizes: clamp(1.38rem, 1.4vw + 0.6rem, 1.875rem);
  margin: 0;
  font-size: var(--h3-sizes);
}

dd {
  margin: 0;
}

dt {
  margin-bottom: 10px;
}

dt,
dd {
  font-size: .875rem;
}
