{{ define "title" }}

  Page Not Found - {{ .Site.Title }}

{{ end }}

{{ define "main" }}

  <section class="four-oh-four overflow-hidden">

    <div class="four-oh-four__wrap relative center-content">

      <div class="graphic absolute">
        <img src="/images/graphic.jpg" alt="">
      </div>

      <div class="container container-standard center">

        <h1 class="visually-hide">Page not found</h1>

        <img class="four-oh-four__image difference" src="/images/svg/four-oh-four.svg" alt="404">

        <p>This page must not exist. While you're here, may I ask if you happen to have a small Aliens shirt? I've been looking all over for one. If you do, please email me at <a href="mailto:blue.bed0392@fastmail.com">blue.bed0392@fastmail.com</a>.</p>

        <a class="four-oh-four__link uppercase weight-bold size-14" href="/">Back to home</a>

      </div>

    </div>
  </section>

{{ end }}
