<section class="hero relative container container--wide" id="top">
  <img class="hero__graphic absolute" src="/images/graphic.jpg" alt="">
  <img class="hero__title difference" src="/images/svg/unhealth-obsession.svg" alt="Unhealthy Obsession.">
  <div class="hero__info">
    <div class="container container--standard">

      <div class="hero__content">

        <div class="relative hero__heading">
          <h1 class="hero__headline">Rucking Fotten Collection</h1>
        </div>

        <div class="relative hero__number">
          <p class="hero__number-grid uppercase"><span class="number">{{ len .Site.RegularPages }}</span> shirts</p>
        </div>

      </div>

    </div>
  </div>
  <div class="hero__overlay"></div>
</section>
