<li class="list__item relative gsap-fade-in">

  <article class="container container--standard grid list__item-article">

    <h3>{{ .Title }}</h3>

    {{ if isset .Params "variant" }}

      <dl class="list__detailed-list grid">

        <div>
          <dt><strong>Edition</strong></dt>
          <dd>{{ .Params.variant }}</dd>
        </div>

        {{ if isset .Params "styles" }}

          {{ $styledHeadline := "Style" }}

          {{ if gt (len .Params.styles) 1 }}

            {{ $styledHeadline = $styledHeadline | pluralize }}

          {{ end }}

          <div>
            <dt><strong>{{ $styledHeadline }}</strong></dt>

            {{ if gt (len .Params.styles) 1 }}

              <dd>
                <ul class="unstyled-list">

                  {{ range .Params.styles }}

                    <li>
                      {{ . }}
                    </li>

                  {{ end }}

                </ul>
              </dd>

            {{ else }}

              {{ range .Params.styles }}
                <dd>{{ . }}</dd>
              {{ end }}

            {{ end }}

          </div>

        {{ end }}

        {{ if isset .Params "sizes" }}

          {{ $sizesHeadline := "Size" }}

          {{ if gt (len .Params.sizes) 1 }}

            {{ $sizesHeadline = $sizesHeadline | pluralize }}

          {{ end }}

          <div>
            <dt><strong>{{ $sizesHeadline }}</strong></dt>

            {{ if gt (len .Params.sizes) 1 }}

              <dd>
                <ul class="unstyled-list">

                  {{ range .Params.sizes }}
                    <li>
                      {{ . }}
                    </li>
                  {{ end }}

                </ul>
              </dd>

            {{ else }}

              {{ range .Params.sizes }}
                <dd>{{ . }}</dd>
              {{ end }}

            {{ end }}

          </div>

        {{ end }}

      </dl>

    {{ end }}

    <a class="absolute list__permalink" href="{{ .Permalink }}" aria-label="View {{ .Title }}"></a>

  </article>

</li>
