{{ define "main" }}

<main>
  <article>

    <h1>{{ .Title }}</h1>

    {{ if isset .Params "variant" }}

      <dl class="list__detailed-list grid">

        <div>
          <dt><strong>Edition</strong></dt>
          <dd>{{ .Params.variant }}</dd>
        </div>

        {{ if isset .Params "styles" }}

          {{ $styledHeadline := "Style" }}

          {{ if gt (len .Params.styles) 1 }}

            {{ $styledHeadline = $styledHeadline | pluralize }}

          {{ end }}

          <div>
            <dt><strong>{{ $styledHeadline }}</strong></dt>

            {{ if gt (len .Params.styles) 1 }}

              <dd>
                <ul class="unstyled-list">

                  {{ range .Params.styles }}

                    <li>
                      {{ . }}
                    </li>

                  {{ end }}

                </ul>
              </dd>

            {{ else }}

              {{ range .Params.styles }}
                <dd>{{ . }}</dd>
              {{ end }}

            {{ end }}

          </div>

        {{ end }}

        {{ if isset .Params "sizes" }}

          {{ $sizesHeadline := "Size" }}

          {{ if gt (len .Params.sizes) 1 }}

            {{ $sizesHeadline = $sizesHeadline | pluralize }}

          {{ end }}

          <div>
            <dt><strong>{{ $sizesHeadline }}</strong></dt>

            {{ if gt (len .Params.sizes) 1 }}

              <dd>
                <ul class="unstyled-list">

                  {{ range .Params.sizes }}
                    <li>
                      {{ . }}
                    </li>
                  {{ end }}

                </ul>
              </dd>

            {{ else }}

              {{ range .Params.sizes }}
                <dd>{{ . }}</dd>
              {{ end }}

            {{ end }}

          </div>

        {{ end }}

      </dl>

    {{ end }}

  </article>
</main>

{{ end }}
